
.header {
    width: 100%;
    height: 50px;
    background: fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
   }

header .logo {
    width: 40px;
}
